.searchform {
    margin: 1rem 15rem 1rem 1rem;
    input[type="text"] {
        margin: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        outline: 0;
        border: 1px solid #aaa;
    }
    button {
        margin: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        outline: 0;
        border: 1px solid #aaa;
        color: #fff;
        background-color: #66f;
        transition: all 500ms;
        &:hover {
            background-color: #88f;
        }
        &:active {
            background-color: #aaf;
        }
        &[disabled] {
            color: #ddd;
            background-color: #666;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      background-color: #fff !important;
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

a:-webkit-any-link {
    color: #44f;
}

.error {
    font-size: 2rem;
    color: #f33;
}

.flowbox {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.3rem 0;
    background-color: #aee;
    overflow: auto;
    width: 25%;
    min-width: 5rem;
    &>div {
        padding: 0.3rem 1rem;
        border-bottom: 1px solid #99f;
    }
}

.repositories {
    margin: 1rem 0 1rem 0;
    width: calc(75% - 3rem);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .repository {
        cursor: pointer;
        background: #fff;
        color: #555;
        line-height: 2rem;
        padding: 0 1rem;
        margin: 0.5rem 1rem;
        transition: all 500ms;
        border-radius: 1rem;
        &:hover {
            color: #000;
            background: #ccc;
        }
        &.selected {
            font-weight: 900;
        }
    }
}

.release {
    margin: 1rem 0 1rem 0;
    width: calc(75% - 3rem);
    padding: 1rem;
    border-radius: 1rem;
    background: #beb;
}
