<form class="searchform">
    Username:
    <input [(ngModel)]="searchForm.username" (ngModelChange)="reset()" name="username" type="text" />
    <button (click)="discover()" [disabled]="!searchForm.username">Discover</button>
</form>
<div class="repositories">
    <div *ngFor="let repo of repositories" (click)="setRepositoryName(repo.name)" class="repository" [ngClass]="{selected: repo.name === repository}">
        {{repo.name}}
    </div>
</div>
<div *ngIf="notfound" class="error">
    User cannot be found!
</div>
<div *ngIf="downloadData">
    <h1>
        <a [href]="downloadData.url">{{downloadData.name}}</a>
    </h1>
    <h2>Total downloads: {{downloadData.download}}</h2>
    <div *ngFor="let release of downloadData.releases" class="release" [id]="release.id">
        <h1>
            <a [href]="release.url">{{release.name}}</a> - {{release.publishDate.toISOString().substring(0, 16).replace('T', ' ') }}</h1>
        <div>
            <span *ngFor="let line of release.body">
                {{line}}
                <br>
            </span>
        </div>
        <h3>Downloaded {{release.download}} times over {{ release.lifetime }} days Average: {{ release.downloadRate }} downloads/day</h3>
        <ul>
            <li *ngFor="let asset of release.assets">
                <a [href]="asset.url">{{asset.file}}</a> downloaded {{asset.download}} times
            </li>
        </ul>
    </div>
    <div class="flowbox">
        <div *ngFor="let release of downloadData.releases">
            <a href="#{{release.id}}">{{release.name}}</a>
        </div>
    </div>
</div>