<h2>
   Download counter
</h2>
<p>The release download counter for GitHub repositories available <a routerLink="/download" routerLinkActive="active">here</a>.</p>

<h2>
    Sudoku solver
</h2>
<p>The sudoku solver uses a few logics to solve the puzzle. It does not guess any fields. There may be some really hard, but solvable puzzles, that it cannot solve. Available <a routerLink="/sudoku" routerLinkActive="active">here</a>.</p>

<div>
    <a href="https://www.github.com/csutorasa">My GitHub page</a>
</div>
