.timer {
    margin: 1rem;
    .title {
        font-size: 2rem;
    }
    .task {
        background-color: #ddd;
        border: 1px black solid;
        transition: background-color 0.5s;
        margin: 1rem 0;
        padding: 1rem;
        &.active {
            background-color: #6c6;
        }
        .interval {
            border: 1px black solid;
            padding: 1rem;
        }
    }
    input[type="text"] {
        outline: 0;
        border: 1px black solid;
        font-size: 2rem;
    }
    button {
        outline: 0;
        border: 0;
        margin: 0.5rem;
        border-radius: 0.2rem; 
        width: 10em;
        height: 1.5em;
        font-size: 1em;
        color: #fff;
        background-color: #24c;
        transition: background-color 0.5s;
        &:hover {
            background-color: #46c;
        }
    }
}
