.cell {
    border: solid 1px black;
    width: 40px;
    height: 40px;
    text-align: center;
}

button {
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.inputarea {
    width: 200px;
    height: 200px;
}
